@model List<GetProductsQueryResult>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<table class="table table-hover table-bordered">

    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Ürün Kategorisi</th>
        <th>Ürün Açıklaması</th>
        <th>Ürün Değeri</th>
        <th>İşlemeler</th>
    </tr>
     

    @foreach(var item in Model)
    {
        count++;
        <tr>
            <th>
                @count
                 <img src="@item.ImageUrl" style="height:250px;width:250px" />
            </th>
            <td>@item.Name</td>
            <td>@item.Category.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>
                <a href="/Admin/Product/UpdateProduct/@item.Id" class="btn btn-info">Düzenle</a>
                <button onclick="deleteProduct(@item.Id)" class="btn btn-danger">Sil</button>

            </td>
        </tr>



    }



</table>

<a href="/Admin/Product/CreateProduct" class="btn btn-success">Yeni Proje Oluştur</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function deleteProduct(id) {
        Swal.fire({
            title: "Silmek istediğinize emin misiniz?",
            text: "Bu işlemi geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, sil!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {

                // Başarı mesajını ayarla ve bitmesini bekle
                Swal.fire({
                    title: "Silindi!",
                    text: "Öğeniz başarılı bir şekilde silindi.",
                    icon: "success",
                    showConfirmButton: false, // Onay butonunu gizle
                    timer: 2000, // Ekranda 2 saniye (2000ms) kalsın
                    timerProgressBar: true // Şık bir geri sayım barı ekle
                }).then(() => {
                    // Alert süresi dolup kapandıktan SONRA yönlendirmeyi yap
                    window.location.href = "/Admin/Product/DeleteProduct/" + id;
                });

            }
        });
    }
</script>

